.cart {
    position: sticky;
    top: 0;
    font-size: 20px;
}

.btn-confirm {
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: rgb(218, 23, 23);
    border: 0;
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 20px;
}

.btn-confirm:hover {
    background-color: rgb(231, 130, 15);
}

/* ======================================
            media queries
======================================= */
@media screen and (max-width:688px) {
    .cart {
        text-align: center;
    }
}