/* ======================================
            main body section
======================================= */
.main-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* ======================================
            meal container section
======================================= */
.meal-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 30px;
}

/* ======================================
            cart container section
======================================= */
.cart-container {
    background-color: lightsalmon;
    padding-top: 20px;
    padding-left: 20px;
}