/* ======================================
            main body section
======================================= */
.main-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* ======================================
          search container section
======================================= */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#search-element {
    width: 300px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-search {
    cursor: pointer;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 8px 20px;
    margin-left: 10px;
}

/* ======================================
           meal container section
======================================= */
.meal-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.warning-message {
    color: goldenrod;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-left: 150px;
}

/* ======================================
            cart container section
======================================= */
.cart-container {
    background-color: lightsalmon;
    padding-top: 20px;
    padding-left: 20px;
}