footer {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: white;
    background-color: lightcoral;
    padding: 20px;
}

footer a {
    color: gold;
}

/* ======================================
            media queries
======================================= */
@media screen and (max-width:688px) {
    footer {
        position: sticky;
        bottom: 0;
    }
}